/*Pour la page index*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


        body {
            margin: 10px 0;
            padding: 0;
            text-align: center;
            font-family: 'PT Sans' , sans-serif;
            background-color: #dea;
        }
        main {
            border: 2px solid olive;
            margin: auto;
            /*la largeur à avoir sur photoshop*/
            width: 770px;
            height: 950px;
            text-align: left;
            background-color: white;
        }
        h1#header { 
            height: 258px;
            margin: 0;
            color: black;
            background: url(../img/apple.jpg) no-repeat left top;
        }
        #header a {
            display: block;
            position: relative;
            left: 350px;
            /*ceci pour descendre un élément*/
            top: 15px;

            background: url(../img/title.gif) no-repeat;
            width: 400px;
            height: 70px;
            /*ceci pour faire disparaitre le texte colored design en décalant à gauche*/
            text-indent: -5000px;
        }
        nav {
            padding: 1px;
            background-color: lightgreen;
        }
        nav a {
            margin: 10px;
            padding: 0;

            border: 2px solid #fff;
            border-radius: 0; /* arrondi des angles des bordures https://css3generator.com/ */
           /* transition: 0.5s;*/
        }
        blockquote {
            border-style: none none none inset;
        }
        h1,h2,h3 {
            color: olive;
        }
        h2, h3 {
            text-decoration: underline;
        }
        footer {
            height: 55px;
            line-height: 60px;
            background-color: olive;
            text-align: center;
        }
        li#display {
            display: inline;   
        }